<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Predict Weather</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="title">
        <h3>Where's the weather you like?</h3>
    </div>
    <div id="container">
        <input type="text" id="getID" placeholder="City Name">
        <input type="button" id="btnGetID" value="Add City">
    </div>
    <div id="footer"></div>
</body>
</html>