<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Page Register</title>
</head>
<body>
    <div id = "registerForm">
        <h1 id = "registerTitle">Register</h1>
        Username: <input type="text" id = "username"> <br>
        Password: <input type="password" id = "pass"> <br>
        <input type="button" id = "btnRegister" value="Register"> <br>
    </div>
    <div id = "hrefLogin">
        <a href="/">Login</a>
    </div>
</body>
</html>